# Generated output
cjs
esm
dist

# TypeScript incremental compilation cache
*.tsbuildinfo

# Parcel cache
.cache

# Node modules
node_modules

# NPM lock file (we use Yarn's)
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/

# Mac OS
.DS_Store

